.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


/*---LOGIN-------------------------------------------*/

.login-form {
  margin: auto;
  padding: 10px;
  max-width: 500px;
  background-color: rgb(80, 80, 131);
  border: 3px outset lightgray;
}

#image-login {
  width: 400px;
}

#sign-title {
  padding: 20px 0px;
  color: #fff;
}

.label-signin {
  margin: 0;
}

#btn-sign-in {
  margin-top: 30px;
  background-color: rgb(6, 94, 150);
  font-size: 1.5rem;
  color: #fff;
}

#btn-sign-in:hover {
  background-color: lightskyblue;
  color: black;
}

/*---Usuario loggeado --- */

#user-info {
  color: white;
}


/*---PRODUCTOS---------------------------------------*/

/*---Slides---*/

.container-slides {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 80px auto;
  width: fit-content;
}

#slide-title {
  position: absolute;
  font-size: 2.5rem;
  padding-left: 50px;
  padding-top: 15px;
}

.slide {
  border-radius: 10px;
  border: 0.5px solid gray;
  box-shadow: 0px 0px 50px 50px rgb(182, 182, 182);
}

.slide:hover {
  box-shadow: 0px 0px 50px 50px rgb(155, 217, 238);
}

@media (max-width: 100vh) {
  .slide {
    width: 100%;
  }
  #slide-title {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 1.5rem;
  }
}

.img-break-img {
  margin: 40px auto 80px auto;
  width: 100%;
  height: 50%;
}


/*--Contenedores de productos--*/

/*--Lista de productos--*/
h3{
  text-align: center;
  font-size: 3rem;
}

.product-content {
  height: 55rem;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0px 0px 90px -10px inset;
  transition: all .2s;
}

.product-content:hover {
  background-image: radial-gradient(rgb(204, 249, 255), rgb(85, 245, 245), rgb(0, 225, 255));
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0px 0px 60px 10px inset,
  0px 0px 100px 100px lightblue;
}

/*--Contenedor Imagen + Descripción--*/
.product-img-description {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
  align-items: center;
  justify-content: center;
}

.product-img{
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 2%;
  box-shadow: 0px 0px 30px 10px;
  cursor: zoom-in;
}

.description {
  width: 55%;
  padding: 10px;
}


/*---SUSTITUIR FUNCIONALIDAD---*/
.product-img:active {
  position: absolute;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5%;
  zoom: 250%;
}

/*--Precio--*/
p.price {
  margin-top: 40px;
  padding: 0 20px;
  text-align: center;
  font-size: 2.5rem;
}

p.soldCount {
  text-align: center;
}

.container-filters-orders {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  font-weight: bold;
}

.container-filters-orders button {
  background-color: rgb(115, 204, 240);
}

.container-filters-orders button:hover {
  background-color: rgb(59, 177, 224);
  ;
}

.productDetails {
  margin: 25px auto;
  width: max-content;
  padding: 10px 60px;
  background-color: rgb(115, 204, 240);
  border-radius: 10px;
}

.productDetails:hover {
  background-color: rgb(59, 177, 224);
}

/*----PRODUCT INFO----*/

#details-container {
  text-align: justify;
}

.description {
  margin: auto;
}

.images {
  display: flex;
  margin: auto;
  overflow: auto;
  width: 660px;
  border: 1px solid gray;
  border-radius: 5px;
}

.detailsPrice {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

#comments {
  margin: 20px 102px;
  padding-top: 20px;
  border-top: 2px dotted black;
}

#score-com {
  margin-bottom: 20px;
}

#new-comment-div {
  text-align: center;
  border-top: 2px dotted black;
  padding-top: 20px;
}

#comment-body {
  width: 100%;
}

#scores {
  width: 150px;
  margin: 20px;
}

#carouselExampleIndicators {
  margin: fit-content;
  padding: 0;
}

.carousel-indicators {
  height: 30px;
}

.car-ind-img {
  width: 70px;
  justify-content: space-between;
}

/*----Prueba scrolls----*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(25, 228, 255);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #01899b;
}


/*-----RELATED PRODUCTS-----*/
/*
.relatedProductsDiv {
  margin-top: 50px;
  border-top: 2px dotted black;
}

.relatedProductsDiv h2 {
  text-align: center;
  margin-top: 20px;
}

#related {
  display: flex;
  border: 1px solid black;
  width: fit-content;
  margin-top: 40px;
  padding: 10px;
}

.relatedProd {
  display: flex;
  margin: 0 10px;
  width: 500px;
  padding: 20px;
  border: 1px solid gray;
  background-color: lightgray;
}
*/

.relatedProd a {
  display: flex;
  text-decoration: none;
  color: black;
}

.imgRelated {
  width: 200px;
  height: 150px;
  margin-right: 20px;
}